
@{
    ViewBag.Title = "PayCOD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        margin-bottom: 30px;
        margin-top: 20px;
        background-color: white;
    }

    h1, h2 {
        color: #333;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
    }
</style>

<h1>Mua Hàng Thành Công</h1>

@if (ViewBag.Order != null)
{
    <div class="container">
        <h3>Tên Khách Hàng: @ViewBag.User.TaiKhoan </h3>
        <p>Mã hóa đơn: @ViewBag.Order.MaDH</p>
        @*<p>Số điện thoại: @ViewBag.Order.phone</p>*@
        <p>Địa chỉ nhận: @ViewBag.Order.DiaDiemGiaoHang</p>
        <p>Hình thức thanh toán: @ViewBag.paymentType </p>
        <p>Tổng Số Tiền: @string.Format("{0:N0} đ", Double.Parse(ViewBag.Order.TongTien.ToString()))</p>
        <p>Ngày mua: @ViewBag.Order.NgayDat</p>
        <h4>Danh sách mua:</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Tên điện thoại</th>
                    <th>Ảnh</th>
                    <th>Số lượng</th>
                    <th>Đơn giá</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in ViewBag.ListOrderItem as List<Shopee_Food.Models.MatHangMua>)
                {
                    <tr>
                        <td>@i.TenSp</td>
                        <td><img style="width:70px;" src="~/images/@i.TenSp" /></td>
                        <td>@i.Amount</td>
                        <td>@string.Format("{0:N0} đ", Double.Parse(@i.Price.ToString()))</td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
}


