@model IEnumerable<Shopee_Food.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
    int i = 0;
}

<h2>Danh sách người dùng</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>STT</th>
        <th>
            Tài khoản
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            Họ tên
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            SĐT
        </th>
        <th>
            Email
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Chức vụ
        </th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu.TenCV)
            </td>
            <td>
                <a href="/Admin/Users/Edit/@item.MaTK" class="btn btn-success">Sửa</a>
                <a href="/Admin/Users/Details/@item.MaTK" class="btn btn-primary">Chi tiết</a>
                <a href="/Admin/Users/Delete/@item.MaTK" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
    }
</table>