@model Shopee_Food.Models.ShopUserModel

@{
    ViewBag.Title = "Shop List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table>
    <tr>
        <th>Tài khoản</th>
        <th>Họ tên</th>
        <th>Địa chỉ</th>
        <!-- Hiển thị các cột khác của User -->
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.TaiKhoan</td>
            <td>@user.HoTen</td>
            <td>@user.DiaChi</td>
            <!-- Hiển thị các thông tin khác của User -->
        </tr>
    }
</table>

<h3>Shops</h3>
<table>
    <tr>
        <th>Tên Shop</th>
        <th>Menu</th>
        <th>Ảnh bìa</th>
        <th>Ảnh đại diện</th>
        <th>Ảnh thực tế</th>
        <th>Số điện thoại</th>
        <th>Email</th>
    </tr>
    @foreach (var shop in Model.Shops)
    {
        <tr>
            <td>@shop.TenShop</td>
            <td>@shop.HinhMenu</td>
            <td>@shop.AnhBia</td>
            <td>@shop.AnhDaiDien</td>
            <td>@shop.AnhThucTe</td>
            <td>@shop.SDT</td>
            <td>@shop.Email</td>
        </tr>
    }
<h3>Thông tin thanh toán</h3>
</table>